@import "tailwindcss";
@import "../../lib/styles/_tailwind-theme.css";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  margin: 0;
  height: 100%;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  box-sizing: border-box;
  font-family: "Onest", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
